server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/agrismart_db
    username: agrismart
    password: agrismart_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate   # Flyway gère le schéma
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    org.springframework: INFO

